<% let {description, device = ""} = query %>

<nav class="navbar navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/wallpapers">Wallpapers</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbar" aria-controls="navbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Drawer -->
    <div class="offcanvas offcanvas-end" tabindex="-1" id="navbar" aria-labelledby="navbar-label">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="navbar-label">Menu</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <% for(let {href, name, match} of routes) { %>
          <% let active = url.match(match) !== null && "active"; %>
          <li class="nav-item">
            <a class="nav-link <%= active %>" aria-current="page" href="<%= href %>"><%- name %></a>
          </li>
          <% } %>
        </ul>
        <hr>
        <p>Search</p>
        <form class="d-flex flex-wrap gap-2" method="get" action="/wallpapers">
          <select name="device" class="form-select w-100" aria-label="Filter devices">
            <option value="" <%= h.select(device, "")%>>All devices</option>
            <option value="phone" <%= h.select(device, "phone")%>>Mobile Phones</option>
            <option value="tablet" <%= h.select(device, "tablet")%>>Tablets</option>
            <option value="desktop" <%= h.select(device, "desktop")%>>Desktop</option>
            <option value="desktop-wide" <%= h.select(device, "desktop-wide")%>>Wide screens/two monitors</option>
          </select>
          <div class="d-flex w-100">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="description" value="<%= description %>">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </div>
        </form>
      </div>


    </div>
  </div>
</nav>